<script type="text/template" id="wine-template">
<li><span class="wine-attribute"><%= name %></span></li>
<li><span class="wine-attribute"><%= type %></span></li>
<li><span class="wine-attribute"><%= color %></span></li>
<li><span class="wine-attribute"><%= glass %></span></li>
<li><span class="wine-attribute"><%= serving %></span></li>
<li><span class="wine-attribute"><%= servingf%></span></li>
<li><span class="wine-attribute"><%= servingc %></span></li>
<li><span class="wine-attribute"><%= alcohol %></span></li>
</script>